{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block title %}{{ 'confirmation.already_confirmed_title'|trans }}{% endblock %}
{% block body %}
<div class="container mt-5 text-center">
    <div style="font-size: 3em; color: #007bff; margin-bottom: 0.5em;">
        <i class="bi bi-info-circle-fill"></i>
    </div>
    <h2>{{ 'confirmation.already_confirmed'|trans }}</h2>
    <p>{{ agent.nom }}, {{ 'confirmation.can_login'|trans }}</p>
    <a href="https://echeckin-event.com" class="btn btn-primary mt-3">{{ 'confirmation.go_homepage'|trans }}</a>
</div>
{% endblock %}
